<!DOCTYPE html>
<html>
<head>
    <title>BookStore</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://faviconka.ru/ico/1/faviconka.ru_1_14247.ico">
    <link rel="stylesheet" type="text/css" href="style/syte.css">
</head>
<body>
<div>
    <div class="upLine">
        <div class="header">
        </div>
    </div>
    <hr>
    <div class="catalog">
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p>Количество: <span id="countBook">20</span> шт.</p>
            <div>
                <button class="buttonBuy" onclick="buyBook();">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_415/65476402-boris-akunin-prosto-masa.jpg" class="productImg">
            </div>
            <p><span>Название: Просто маса</span></p>
            <p><span>Автор: Борис Акунин</span></p>
            <p><span>Дата издания: 2021</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 500₽</span></p>
            <p><span>Количество: 250 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
        <div class="product">
            <div class="imgProduct">
                <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
            </div>
            <p><span>Название: Богатый папа, бедный папа</span></p>
            <p><span>Автор: Роберт Кийосаки</span></p>
            <p><span>Дата издания: 2010</span></p>
            <p><span>ISBN: #########</span></p>
            <p><span>Стоимость: 1500₽</span></p>
            <p><span>Количество: 20 шт.</span></p>
            <div>
                <button class="buttonBuy">КУПИТЬ</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
</body>
</html>
