<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://s1.iconbird.com/ico/1012/EcommerceBusinessIcons/w128h1281350823385shopping128x128.png">
    <link rel="stylesheet" type="text/css" href="style/syte.css">
</head>
<body>
    <div class="upLine">
        <div class="header">
        </div>
        <div class="header">
            <a class="linkShoppingCart">
                <img src="/images/shoppingCart.png" class="imageShoppingCart">
                <span>0 ₽</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="catalog">
        <table>
            <tr>
                <th>Картинка</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
            <tr>
                <td class="imageCell">
                    <div class="imgProductShoppingCart">
                        <img src="https://cdn1.ozone.ru/multimedia/1008879739.jpg" class="productImg">
                    </div>
                </td>
                <td><span>Богатый папа, бедный папа</span></td>
                <td><span>Роберт Кийосаки</span></td>
                <td><span id="priceBook">1500</span>₽</td>
                <td><span id="countBookShoppingCart">2</span></td>
                <td><span id="costBooks">3000</span>₽</td>
                <td>
                    <div class="blockButtonProduct">
                        <button onclick="deleteBook();">Удалить</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/site.js"></script>
</body>
</html>